<launch>
    <node name="kitti_publisher"        pkg="bb_pub_node" type="kitti_pub_node.py"     output="screen" />
    <node name="fpointnet_subscriber"  pkg="bb_pub_node" type="fpointnet_sub_node.py" output="screen" />
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map base_link 100" />

</launch>
