<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="node_start_delay" default="2.0" />

    <!-- #### YOLOv3 - 2D Object Detection #### -->
    <arg name="network_param_file" default="$(find darknet_ros)/config/yolov3.yaml" />
    <arg name="image" value="image_publisher" />

    <include file="$(find darknet_ros)/launch/yolo_v3.launch">
        <arg name="image" value="$(arg image)" />
    </include>

    <!-- #### Frustrum Pointnet - 3D Object Detection #### -->
    <remap from="/bounding_box_2d_publisher" to="/darknet_ros/bounding_boxes" />
    <remap from="/image_publisher"           to="/image_publisher" />
    <remap from="/depth_publisher"           to="/depth_publisher" />
    <remap from="/gt_bb_publisher_3D"        to="/gt_bb_publisher_3D" />
    <node name="fpointnet_subscriber" pkg="frustum_pointnet" type="kitti_sub_node" output="screen" />

    <!-- #### TF static transform publisher #### -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map base_link 100" />

    <!-- #### KITTI Image Publisher #### -->
    <arg name="path" default="/hdd/Thesis/SiameseTracker/dataset/ExperimentRoom/_2022-05-06-18-05-33.bag" />
    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg path)"/> 
    
</launch>